@media (min-width: 120em) /*At least Desktop (Large) size*/
{}

@media (min-width: 48em) /*At least Tablet (Medium) size*/
{
  /*******************************Class Selectors*************************************************/
  .about-me-mobile
  {
    display: none;
  }

  .background-list-item
  {
    width: 35rem;
  }

  .csu-eastbay-mobile
  {
    display: none;
  }

  .csueb-logo
  {
    float: left;
    /*height: 30vh;*/
    width: 15vw;
  }

  .Header-Titles
  {
    color: white;
  }

  .ice-breaker
  {
    width: 60%;
  }

  .page-intro-mobile
  {
    display: none;
  }

  .page-top
  {
    background-image: url(images/VectorPattern1.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
  }

  .project-info
  {
    width: 50%;
  }

  .profile-pic
  {
    /*height: 30vh;*/
    width: 15vw;
  }

  /*******************************Class Selectors*************************************************/
}

@media (max-width: 47.99em) /*At most Mobile (Small) size*/
{
  /*******************************Class Selectors*************************************************/
  .about-me-mobile
  {
    font-size: clamp(0.5rem,2.6vw,4rem);
  }

  .about-me
  {
    display: none;
  }

  .csueb-logo
  {
    /*height: 15vh;*/
    width: 15vw;
  }

  .csu-eastbay-mobile
  {
    margin: auto;
    width: 50%;
  }

  .csu-eastbay
  {
    display: none;
  }

  .Header-Titles
  {
    color: black;
  }

  .ice-breaker
  {
    margin: auto;
  }

  .page-intro-laptop
  {
    display: none;
  }

  .profile-pic
  {
    /*height: 15vh;*/
    width: 15vw;
  }

  .project-info
  {
    margin: auto;
    margin-bottom: 3rem;
    width: 60%;
  }

  .project-pic
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .skill-category
  {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  /*******************************Class Selectors*************************************************/
}

/*******************************Tag Selectors*************************************************/
a
{
  font-family: 'Overpass', sans-serif;
  text-decoration: none;
}

div
{
  max-width: 100%;
}

h1
{
  font-family: 'Cinzel', serif;
  font-size: clamp(2rem,3.5vw,5rem);
}

h2
{
  font-family: 'Cinzel', serif;
  font-size: clamp(1.7rem,3.3vw,4.5rem);
}

h3
{
  font-family: 'Cinzel', serif;
  font-size: clamp(1.5rem,3vw,4rem);
}

h4
{
  font-family: 'Cinzel', serif;
  font-size: clamp(1.3rem,2vw,3rem);
}

h5
{
  font-family: 'Cinzel', serif;
  font-size: clamp(1rem,1.7vw,2.5rem);
}

h6
{
  font-family: 'Cinzel', serif;
  font-size: clamp(0.7rem,1.4vw,2rem);
}

iframe
{
  max-width: 100%;
}

img
{
  max-width: 100%;
}

li
{
  font-family: 'Overpass', sans-serif;
  font-size: clamp(0.6rem,1.2vw,1.2rem);
}

p
{
  font-family: 'Overpass', sans-serif;
  font-size: clamp(0.6rem,1.2vw,1.2rem);
}
/*******************************Tag Selectors*************************************************/

/*******************************Class Selectors*************************************************/

.background-class-header
{
  text-align: center;
}

.design-list
{
  list-style-type: none;
  padding: 0;
}

.development-list
{
  list-style-type: none;
  padding: 0;
}

.experience li
{
  padding-bottom: 1rem;
}

.github-icon
{
  background-color: #e06244;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.ice-breaker-header
{
  text-align: center;
}

.instagram-icon
{
  background-color: #e06244;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.navbar
{
  font-weight: bold;
}

.navbar-toggler-icon
{
  background-image: url(https://lisher.net/assets/svg/menu.svg);
  height: 3.75rem;
  width: 3.75rem;
}

.navbar-toggler
{
  border: none;
}

.project-button
{
  display: block;
  margin: auto
}

.project-class-header
{
  text-align: center;
}

.project-content .project-info h4
{
  text-align: center;
}

.project-content .project-info h5
{
  text-align: center;
}


.project-content .project-pic iframe
{
  width: 100%;
}

.project-content .project-pic img
{
  width: 100%;
}

.project-pic
{
  text-align: center;
  width: 50%;
}

.skill-category
{
  margin: auto;
  max-width: 100%;
  width: 40rem;
}

.skill-category-header
{
  text-align: center;
}

.social-list
{
  list-style-type: none;
}

.tools-list
{
  list-style-type: none;
  padding: 0;
}

.twitter-icon
{
  background-color: #e06244;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
/*******************************Class Selectors*************************************************/

/*******************************ID Selectors*************************************************/
#Bottom-container-background
{
  background-color: #E9D8A6;
  text-align: center;
}

#Bottom-container-home
{
  background-color: #f1f0e9;
  text-align: center;
}

#Bottom-container-portfolio
{
  background-color: #f1f0e9;
  text-align: center;
}

#Middle-container-background
{
  background-color: #E9D8A6;
  line-height: 2;
}

#Middle-container-home
{
  background-color: #E9D8A6;
  line-height: 2;
}

#Middle-container-portfolio
{
  background-color: #E9D8A6;
  line-height: 2;
}

#Top-container-background
{
  background-color: #f1f0e9;
  line-height: 2;
}

#Top-container-home
{
  background-color: #f1f0e9;
  line-height: 2;
}

#Top-container-portfolio
{
  background-color: #f1f0e9;
  line-height: 2;
}
/*******************************ID Selectors*************************************************/
