@media screen and (min-width: 120em) /*At least Desktop (Large) size*/
{}

@media screen and (min-width: 48em) /*At least Tablet (Medium) size*/
{
  /*******************************Class Selectors*************************************************/
  .about-me-mobile
  {
    display: none;
  }

  .ice-breaker
  {
    width: 60%;
  }

  .mvizi-games-logo
  {
    float: left;
    height: 10rem;
    max-width: 100%;
    width: 10rem;
  }

  .page-intro-mobile
  {
    display: none;
  }

  .page-top
  {
    background-image: url(images/VectorPattern1.png);
    background-repeat: no-repeat;
    /*background-size: 50rem 35rem;*/
    background-size: 50% 100%;
    /*height: 31rem;*/
  }

  .profile-pic
  {
    height: 25vh;
    max-width: 100%;
    width: 41.67ww;
  }
  /*******************************Class Selectors*************************************************/
}

@media screen and (max-width: 47.99em) /*At most Mobile (Small) size*/
{
  /*******************************Class Selectors*************************************************/
  .about-me
  {
    display: none;
  }

  .ice-breaker
  {
    margin: auto;
  }

  .mvizi-games-logo
  {
    height: 20vh;
    max-width: 100%;
    width: 20vw;
  }

  .page-intro-laptop
  {
    display: none;
  }

  .profile-pic
  {
    height: 20vh;
    max-width: 100%;
    width: 20vw;
  }

  .skill-category
  {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /*******************************Class Selectors*************************************************/
}

/*******************************Tag Selectors*************************************************/
a
{
  text-decoration: none;
}
/*******************************Tag Selectors*************************************************/

/*******************************Class Selectors*************************************************/
.about-me
{
  font-size: clamp(0.5rem,1.3vw,1.2rem);
}

.about-me-mobile
{
  font-size: clamp(0.5rem,2.6vw,4rem);
}

.background-class-header
{
  text-align: center;
}

.background-list-item
{
  width: 35rem;
}

.design-list
{
  list-style-type: none;
  padding: 0;
}

.development-list
{
  list-style-type: none;
  padding: 0;
}

.game-button
{
  display: block;
  margin: auto
}
.game-controller-icon
{
  background-color: #e06244;
  border-radius: 0.8125rem;
  height: 2.5rem;
  width: 2.5rem;
}

.game-pic
{
  height: 25rem;
  width: 35rem;
}

.game-text
{
  width: 30rem;
}

.Header-Titles
{
  color: white;
}

.ice-breaker
{
  font-size: clamp(0.5rem,1.2vw,1.1rem);
}

.ice-breaker-header
{
  font-size: clamp(2rem,3vw,8rem);
  text-align: center;
}

.instagram-icon
{
  background-color: #e06244;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.navbar-toggler-icon
{
  background-image: url(https://lisher.net/assets/svg/menu.svg);
  height: 3.75rem;
  width: 3.75rem;
}

.navbar-toggler
{
  border: none;
}

.project-class-header
{
  text-align: center;
}

.skill-category
{
  margin: auto;
  max-width: 100%;
  width: 40rem;
}

.skill-category-description
{
  font-size: clamp(0.5rem,1.3vw,1.1rem);
}

.skill-category-header
{
  font-size: clamp(1rem,1.5vw,2rem);
  text-align: center;
}

.social-list
{
  list-style-type: none;
}

.tools-list
{
  list-style-type: none;
  padding: 0;
}

.twitter-icon
{
  background-color: #e06244;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
/*******************************Class Selectors*************************************************/

/*******************************ID Selectors*************************************************/
#Bottom-container-background
{
  background-color: #E9D8A6;
  text-align: center;
}

#Bottom-container-home
{
  background-color: #f1f0e9;
  text-align: center;
}

#Bottom-container-portfolio
{
  background-color: #E9D8A6;
  text-align: center;
}

#Middle-container-background
{
  background-color: #E9D8A6;
  line-height: 2;
}

#Middle-container-home
{
  background-color: #E9D8A6;
  line-height: 2;
}

#Middle-container-portfolio
{
  background-color: #E9D8A6;
  line-height: 2;
}

#Top-container-background
{
  background-color: #f1f0e9;
  line-height: 2;
}

#Top-container-home
{
  background-color: #f1f0e9;
  line-height: 2;
}

#Top-container-portfolio
{
  background-color: #f1f0e9;
  line-height: 2;
}
/*******************************ID Selectors*************************************************/
